h1{
  color: #fff;
}
body {
  text-align: center;
  background-color: #1A1A1A; 
}

#makerLegendStyle{

padding-top: 20px;

}

fieldset {
  font-size: 20px;
  color: #fff;
	border: 5px solid grey;
	border-radius: 5px;
	display: inline;
	vertical-align: top;
}
button{
  color: white;
  border-radius: 3px;
  border: none;

    background-color: #0067b9;
}
