@media screen,handheld,projection,tv{body{margin:0}
html,body{overflow:none}
}
@media print{body{font-family:Helvetica,Arial,sans;margin:.5in}
}

._p2t{position:relative;top:0;left:0;overflow:hidden}
._d2t{position:absolute}
._v2t{position:absolute;top:0;left:0;z-index:1000;background-color:white;border-radius:100%}

._g2t{display:-webkit-flex;position:relative;top:0;left:0;overflow:hidden;display:flex;align-items:center;justify-content:center}
._y2t,._b2t{display:-webkit-flex;position:absolute;left:0;right:0;height:14px;display:flex;align-items:center;justify-content:center}
._y2t{top:0}
._b2t{bottom:0}
._w2t{position:absolute;top:16px;bottom:16px;left:0;right:0}
._q2t{display:-webkit-flex;position:absolute;top:16px;bottom:16px;width:16px;right:0;display:flex;align-items:center;justify-content:center;opacity:.25;transition:transform .35s}
._g2t.pressed ._q2t,._z2t ._q2t{-webkit-transform:scale3d(.1, .1, .1);transform:scale3d(.1, .1, .1)}
._x2t{-webkit-transform-origin:100% 50%;position:absolute;background-position:0 -44px;background-image:url("../918266bf1435c493cccbe5352d34d1e09a2808dd/popover_arrow.png");transition:opacity .25s,transform .25s;transform-origin:100% 50%}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx){._x2t{background-image:url("../336a563d4b63dc8312879efdffa50b6790038dec/popover_arrow@2x.png");background-size:76px 88px}
}
._k2t{border-radius:11px;box-shadow:0 0 1px rgba(0,0,0,0.5),0 2px 16px rgba(0,0,0,0.5);background-color:white}
.CalculatorPickerPopUpImpl-label{position:absolute;top:0;left:7px;right:0;height:22px;font-size:10px;color:#404040;z-index:1}
.CalculatorPickerPopUpImpl-inner{position:absolute;top:11px;left:7px;right:0;bottom:0}
.CalculatorPickerPopUpImpl-inner,.CalculatorPickerPopUpImpl-label{display:-webkit-flex;display:flex;align-items:center;justify-content:center}
._j2t{display:-webkit-flex;font-size:13px;color:#404040;display:flex;align-items:center;justify-content:center}
._g0a ._y2t,._g0a ._b2t{font-size:10px;color:rgba(0,0,0,0.5);border:1px solid #d0d0d0;background-color:#f6f6f6;background:linear-gradient(180deg, #fcfcfc, #f0f0f0)}
._g0a ._g2t.disabled ._b2t,._g0a ._g2t.disabled ._y2t{font-size:10px;color:rgba(0,0,0,0.5);background-color:#fff;background:linear-gradient(180deg, #ffffff, #ffffff)}
._g0a ._y2t{border-top-left-radius:11px;border-top-right-radius:11px}
._g0a ._b2t{border-bottom-left-radius:11px;border-bottom-right-radius:11px}
._g0a ._w2t{border:solid #d0d0d0;border-width:0 1px}
._g0a ._g2t.pressed ._w2t{background-color:#f8f8f8}
._g0a ._g2t.pressed ._y2t,._g0a ._z2t ._y2t,._g0a ._g2t.pressed ._b2t,._g0a ._z2t ._b2t{background-color:#f2f2f2;background:linear-gradient(180deg, #f8f8f8, #ececec)}
._t3t{display:-webkit-flex;border:1px solid #f0f0f0;position:absolute;left:0;right:0;bottom:0;top:0;display:flex;align-items:center;justify-content:center}
._e3t.hover{background-color:#fffff0}

._i3t{position:relative;top:0;left:0}
._u3t{position:absolute;top:0;left:0;right:0;bottom:0}
._s3t{display:-webkit-flex;position:absolute;top:0;left:0;right:0;bottom:14px;display:flex;justify-content:center;align-items:center}
._o3t{position:absolute;left:0;right:0;bottom:0;height:: 12px;font-size:12px;text-align:center}
._i3t.selected{z-index:1}


.CalculatorToneMatrixView{position:relative;top:0;left:0}
._f3t{position:absolute;display:table;border-collapse:collapse;table-layout:fixed;width:100%;height:100%}
._l3t{display:table-row}
._h3t{display:table-cell;vertical-align:middle;text-align:center;border-collapse:collapse;width:7%;height:7%}
._d3t{color:#0055ff;text-shadow:0 0 4px #fff,0 0 2px #fff,0 0 1px #00f}
.CalculatorToneMatrixCellView-no-background{background-color:none}
.CalculatorToneMatrixSelectionControl{z-index:2}
._c3t,._c3t *{cursor:pointer}
._f3t.1{background-color:rgba(159,159,0,0.125);background-color:rgba(156,156,0,0.1375);background-color:rgba(153,153,0,0.15)}
